.navbar {
    overflow: hidden;
    background-color: #8ec6a3;
    font-family: Arial, Helvetica, sans-serif;
    margin: -9px;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: #f9bfe5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f9bfe5;
}

.active {
    background-color: #f9bfe5;
}

.show {
    display: block;
}

body {
    font-family: arial;
    text-align: justify;
    text-justify: inter-word;
    background-color: #e5fdee
    ;
  }
  
  .paper {
    padding-right: 8px;
    position: absolute;
    top: 80px;
    left: 300px;
    right: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 3px 3px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 40px;
    background-color: white;
  }
  
  .intro {
    padding-left: 10px;
  }
  
  .rubrik {
    text-align: center;
    margin-top: -1px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .rubrik-bakgrund {
    background-color: #f9bfe5;
    padding-top: 1%;
    margin-right: -8px;
  }
  
  #dogs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  #puppies {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .support, #about, #about2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #about {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #about2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .dog {
    margin: 15px;
  }
  
  .dog:hover {
    border: 2px solid #f9bfe5;
  }
  
  .row {
    text-align:center;
  }
  
  .description-pic {
    float: left;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 2%;
  }
  
  .description-text {
    padding-right: 10%;
    padding-top: 2%;
  }
  
  li {
    padding: 10px;
  }
  
  .rubrik-support {
    text-align: center;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #c68eb3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #af6195 ;
  }
  
  .container {
    border-radius: 5px;
    background-color: #fff2ff;
    padding: 20px;
    width: 800px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #subject {
    height: 200px;
  }
  
  #rubrik-form, #contact {
    text-align: center;
  }